*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
    transition: 0.5s;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;    
}
.header{
    text-align: center;
    font-size: 10px;
    line-height: 3em;
    color: #fff;
    background: #000000;
    padding: 5px;
}
.logo{
    width: 15vh;
    padding: 5px;
}
.contenedor{
    background: #FFFFFF;
    padding: 10px;
    flex-grow: 1;
}
.begin{
    position: relative;
    height: 30px;
    margin: 0px;
}
.user{
    position: absolute;
    font-size: 20px;
    font-weight: 800;
    color: black;
    top: 0;
    left: 0;
}
.maquina{
    position: absolute;
    font-size: 20px;
    font-weight: 800;
    color: black;
    top: 0;
    right: 0;
}
.resultado{
    display: flex;
    flex-flow: column wrap;
    background: #FFFFFF;
    margin: 10px;
}
#resultado-nombre{
    margin: 5%;
    font-size: 15px;
    font-weight: 300;
}
#resultadoPc{
    margin: 5%;
    font-size: 15px;
    font-weight: 300;
}
.cont-resultado{
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    justify-content: center;
    flex-direction: row;
    
}
.cont-resultado img{
    width: 200px;
    height: 215px;
}
.vida-jugador, .vida-enemigo{
    padding: 10px;
}
.resultadoUno{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background: #FFFFFF;
    margin: 15px;
    padding: 10px;
    height: 300px;
    width: 250px;
}
.vida-jugador img{
    width: 170px;
    height: 60px;
}
.resultadoDos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background: #FFFFFF;
    padding: 10px;
    margin: 15px;
    height: 300px;
    width: 250px;
}
.vida-enemigo img{
    width: 170px;
    height: 60px;
}
.cartaMedio{
    
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.vs{
    display: flex;
    flex-flow: wrap;
    border: 2px solid black;
    color: black;
    font-size: 15px;
    width: 140px;
    height: 100px;
    background: #BDBDBD;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    text-align: center;
}
#botonReinicio{
    background: black;
    color: #f2f2f2;
    width: 120px;
    justify-content: center;
    border-radius:.30% ;
    cursor: pointer;
}
#botonReinicio:hover{
    background: white;
    color: black;
}
.formulario{
    display: flex;
    gap: 80px;
    flex-flow: row wrap;
    justify-content: center;   
}
.tarjeta{
    position: relative;
    width: 150px;
    height: 170px;
    background: #BDBDBD;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    border: 2px solid black;
    border-radius: 40%;
    overflow: hidden;
    cursor: pointer;
}
.formulario img{
    width: 100px;
    height: 120px;
    transition: all 500ms ease-out;
}
.H4{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(1rem);
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.6em;
    font-family: var(--tipo-titular);
    font-style: italic;
    opacity: 0;
    transform: translateZ(1) scale(1.2);
    transition: all .5s ease;
}
.H4:hover{
    opacity: 1;
    transform: scale(1);
}
.bienvenida {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    
    
}
.graf {
    width: 40vh;
    margin-top: 5vh;
}
.jugador{
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pc {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    float: right;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.batalla{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
footer{
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid #f2f2f2;
    background-image: url(/images/linkedin1.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin: 1rem;
}
.social-icon:hover{
    background-color: #121212;
    filter: invert(1);
}
.social-icon:nth-of-type(2){
    background-image: url(/images/github.png);
}
.social-icon:nth-of-type(3){
    background-image: url(/images/twitter.png);
}

.copyright{
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 800px){
    .cont-resultado{
        display: flex;
        flex-flow: column wrap;
        gap: 30px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
}